@model IEnumerable<CSD4354_Storefront.Models.Product>

@{
    ViewBag.Title = "Sal's Shirt Shop";
}

<h2>Welcome to @ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Products", new { id = item.Id }, new { @class = "btn btn-sm btn-warning" }) |
                @Html.ActionLink("Details", "Details", "Products", new { id = item.Id }, new { @class = "btn btn-sm btn-primary" }) |
                @Html.ActionLink("Delete", "Delete", "Products", new { id = item.Id }, new { @class = "btn btn-sm btn-danger", data_target = "okay" })
            </td>
        </tr>
    }

</table>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="http://lorempixel.com/900/300/" />
        </div>
        <div class="col-md-4">
            <h1>Hello World!</h1>
        </div>
        <div class="col-md-2">
            <table class="table">
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>Hello</td>
                    <td>World</td>
                </tr>
            </table>
        </div>
    </div>
</div>
