@model CSD4354_Storefront.Models.ProductDetailsViewModel
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;

@{
    ViewBag.Title = "Details";
    var appUser = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(User.Identity.GetUserId());
    var isAdmin = appUser != null && appUser.IsAdmin;
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.StockQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.StockQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.Colour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Colour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item.Size)
        </dd>

        <dd>
            <img class="img-responsive" src="@Model.Item.ThumbnailFilename" onclick="$('#modal-lightbox').modal()"/>
        </dd>

    </dl>
</div>
<p>
    @if (isAdmin) {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Item.Id }) @:|
    }
    @Html.ActionLink("Back to List", "Index")
</p>
<p>
    @if (appUser != null)
    {
        using (Html.BeginForm("AddToCart", "Carts", new { id = Model.Item.Id }))
        {
        @Html.EditorFor(model => model.Quantity)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add to Cart" class="btn btn-default" />
            </div>
        </div>
        }
    }
    else
    {
        @Html.ActionLink("Login to Add to Cart", "Login", "Account", null, new { @class = "btn btn-success" })
    }
</p>

<div class="modal fade" id="modal-lightbox" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <img class="img-responsive" src="@Model.Item.ImageFilename" />
            </div>
        </div>
    </div>
</div>
